
* {
  border-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}


h1 { font-size: 1rem; }

@media (min-width: 576px) {
    h1 { font-size: 2.5rem; }
}
@media (min-width: 768px) {
    h1 { font-size: 3rem; }
}
@media (min-width: 992px) {
    h1 { font-size: 3.7rem; }
}
@media (min-width: 1200px) {
    h1 { font-size: 3.7rem; }
}

body {
  background: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Raleway', sans-serif;
}

a:hover {
  opacity: 0.6;
  text-decoration: none;
}


.background {
  background-color: grey;
}

.align-center {
  text-align: center;
}

/*#header {
  font-size: 3.2vw;
}*/

#header-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10vh;
}

#nav-bar {
  text-align: center;
}

.nav-bar{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav-bar li{
    display:inline;
}
.nav-bar a{
    display:inline-block;
    padding:0 50px;
}

.nav-link-style {
    padding-bottom: 20px;
    border-bottom: 2px solid black;
    outline-offset: 15px;
}

#socials {
  padding: 30px 0;
  text-align: center;
}

.social-icon {
  width: 30px;
  height: 30px;
}

#sub-nav {
  padding-top: 30px;
}

.block-filler {
  background-color: black;
  height: 600px;
  width: 100%;
}

.block-filler2 {
  background-color: black;
  height: 350px;
  width: 100%;
}

@media (min-width: 576px) {
  .index-container {
    padding: 0 48px;
  }
}
@media (min-width: 768px) {
  .index-container {
    padding: 0 64px;
  }
}
@media (min-width: 992px) {
  .index-container {
    padding: 0 83px;
  }
}
@media (min-width: 1200px) {
  .index-container {
    padding: 0 400px;
  }
}

@media (min-width: 576px) {
  .main-container {
    padding: 0 48px;
  }
}
@media (min-width: 768px) {
  .main-container {
    padding: 0 64px;
  }
}
@media (min-width: 992px) {
  .main-container {
    padding: 0 83px;
  }
}
@media (min-width: 1200px) {
  .main-container {
    padding: 0 100px;
  }
}

#left_frame,
#right_frame {
    float: left;
}

#left_frame {
    width: calc(50% - 4px);
}

#right_frame {
    width: calc(50% - 4px);
}

.para {
  padding: 10px 0px 0px 20px;
}

textarea {
  width: 99%;
  min-height: 100px;
  resize: vertical;
  padding: 5px 0 0 5px;
  font: inherit;
}
.li_dot:before {
content: ".";
}
